body {
	background: linear-gradient(to right, #E040FB, white, #E040FB);
	font-kerning: initial;
}

h1 {
	color: #E040FB;
}

h2 {
	border-bottom: 1px solid lightgrey;
	padding: 5px;
}

p6 {
	margin: 10px;
}

b {
	color: #E040FB;
}

a {
	color: #EA80FC;
}

.jumbotron {
	background: linear-gradient(to right, #F3E5F5, white, #F3E5F5);
}

.self1 {
	background: linear-gradient(to right,  #F3E5F5, white,  #F3E5F5);
	padding: 12px;
	margin: 15px;
	border-radius: 10px;
	border: 1px solid white;
}

.btn {
	background-color: white;
	color: #EA80FC;
	border: 1px solid purple;
	margin: 8px;
}


.scale {
	width: 150px
	height: 150px;
	margin: 3px;
	background-color: purple;
	border: 2px solid purple;
	border-radius: 5px;
}

.scale1 {
	width: 150px
	height: 150px;
	margin: 4px;
	background-color: purple;
	border: 2px solid purple;
	border-radius: 5px;
	transform: scale(0.5, 0.5);
}

.img1 {
	width: 180px;
	height: 180px;
	border-radius: 8px;
	float: left;
}

.img2 {
	width: 180px;
	height: 180px;
	border-radius: 8px;
	float: right;
}

.panel .panel-body .con {
	color: white;
	background: linear-gradient(#E040FB,  #E040FB, white);
	padding: 5px;
	border-radius: 9px;
}

.panel .panel-body .con2 {
	color: grey;
	background: linear-gradient(white, white, #EDE7F6);
	padding: 5px;
	border-radius: 9px;
	margin-bottom: 10px;
}

.con2 ol li {
	font-size: 19px;
	font-weight: initial;
}
	