body {
	background: linear-gradient(to right, #E040FB, white, #E040FB);
	font-kerning: initial;
}

h1 {
	color: #E040FB;
}

#sg {
	color: inherit;
	border-bottom: 1px solid lightgrey;
	padding: 5px;
	word-spacing: 3px;
	margin-top: 80px;
	font-family: 'Georgia', serif;
}

h3 {
	font-weight: bold;
	letter-spacing: 5px;
	color: #E040FB;
	font-size: 29px;
}
	

p6 {
	margin: 10px;
}

b {
	color: #E040FB;
}

a {
	color: #EA80FC;
	transform: (1, 0.5);
}

table {
	width: 100%; 
	border-collapse: collapse;
}

table tr th {
	color: purple;
	letter-spacing: 5px;
	text-align: center;
	font-weight: bold;
	margin: 5px;
	padding: 4px;
	line-height: 9px;
	border: 1px solid lightgrey;
	border-radius: 9px;
}

tr th, tr td {
	padding: 5px;
	border: 1px solid #F3E5F5;
}

table tr:nth-child(odd) {
	background-color: lightgrey;
}

table tr:nth-child(2) {
	color: green;
}

.panel panel-heading h2 {
	color: purple;
	text-decoration: none;
}

.jumbotron {
	background: linear-gradient(to right, #F3E5F5, white, #F3E5F5);
}

.self1 {
	background: linear-gradient(to right,  #F3E5F5, white,  #F3E5F5);
	padding: 12px;
	margin: 15px;
	border-radius: 10px;
	border: 1px solid white;
}

.btn {
	background-color: white;
	color: #EA80FC;
	border: 1px solid purple;
	margin: 8px;
}


.scale {
	width: 150px
	height: 150px;
	margin: 3px;
	background-color: purple;
	border: 2px solid purple;
	border-radius: 5px;
}

.scale1 {
	width: 150px
	height: 150px;
	margin: 4px;
	background-color: purple;
	border: 2px solid purple;
	border-radius: 5px;
	transform: scale(0.5, 0.5);
}

.imgsg {
	width: 30px;
	height: 30px;
	display: inline;
}

.img1 {
	width: 180px;
	height: 180px;
	border-radius: 8px;
	float: left;
}

.img01 {
	width: 180px;
	height: 180px;
	border-radius: 8px;
	float: left;
	transform: (0.5, 0.5);
}

.img2 {
	width: 180px;
	height: 180px;
	border-radius: 8px;
	float: right;
}

.panel .panel-body .con {
	color: white;
	background: linear-gradient(#E040FB,  #E040FB, white);
	padding: 5px;
	border-radius: 9px;
}

.panel .panel-body .con2 {
	color: grey;
	background: linear-gradient(white, white, #EDE7F6);
	padding: 5px;
	border-radius: 9px;
	margin-bottom: 10px;
}

.con2 ol li {
	font-size: 19px;
	font-weight: initial;
}

.temp1 {
	background: linear-gradient(rgba(168, 0, 214, 0.5), white 50%, rgba(224, 64, 251,0.5));
	padding: 12px;
	margin: 9px;
	border: 1px solid rgba(224, 64, 251,0.5);
	border-radius: 8px;
}
	